.App {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 300px repeat(3, 1fr);
    grid-template-rows: 1fr 4fr 1fr 40fr 1fr 4fr 1fr;
}

@media (max-height: 600px) {
    .App {
        grid-template-rows: 1fr 2fr 1fr 40fr 1fr;
    }
}